/* reset box sizing*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
}

header,
.main-content,
.sidebar,
footer {
  padding: 2em;
}

header {
  background: blue;
}

.main-content {
  background: red;
}

.sidebar {
  background: royalblue;
}

footer {
  background: magenta;
}

/* GRID TEST */

body {
  display: grid;
  grid-template-columns: 1.5em 1fr 1.5em;
  grid-template-areas:
    "header header header"
    ". main ."
    ". side ."
    "footer footer footer";
}

header {
  grid-area: header;
}
.main-content {
  grid-area: main;
}
.sidebar {
  grid-area: side;
}
footer {
  grid-area: footer;
}
